section.about  
    .container
        +blockBox("What we do","story about us","Lolor sit amet consectetur adipisicing elit. Corrupti, aliquid aspernatur. Adipisci nisi aliquid vel corporis voluptate, reiciendis nostrum suscipit molestiae sapiente, ad dolorem fuga totam alias eligendi, in eum.")

        .about-list 
            +aboutItem({
               src: "images/img-about1.png",
               title: "super teams",
               icon: " fa fa-users",
               alt: "index.html"
            })
            +aboutItem({
               src: "images/img-about2.png",
               title: "super team",
               icon: " fa fa-home",
               alt: "index.html"
            })
            +aboutItem({
               src: "images/img-about3.png",
               title: "super team",
               icon: " fa fa-cog",
               alt: "index.html"
            })
            +aboutItem({
               src: "https://images.unsplash.com/photo-1676334734241-9e9d1ee64cbf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1033&q=80",
               title: "super team",
               icon: " fa fa-heart",
               alt: "index.html"
            })
            +aboutItem({
               src: "https://images.unsplash.com/photo-1670272504528-790c24957dda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80",
               title: "super team",
               icon: " fa fa-clock",
               alt: "index.html"
            })
            +aboutItem({
               src: "https://images.unsplash.com/photo-1670272505340-d906d8d77d03?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80",
               title: "super team",
               icon: " fa fa-bus",
               alt: "index.html"
            })
