footer.footer
	.container
		.footer-top 
			.footer-column
				a(href="index.html").footer-heading.footer-heading--logo Mo Go
				p.footer-desc.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum eius ducimus deserunt eveniet, blanditiis doloremque, magni exercitationem, iusto facilis quam nihil. Voluptatum voluptate quisquam ullam in commodi alias corrupti doloremque.
				p.footer-follower <strong> 15k </strong> followers
				.footer-social 
					span.text Follow Us: 
					.footer-social-list 
						a.footer-social-icon(href="#")
							i.fab.fa-facebook
						a.footer-social-icon(href="#")
							i.fab.fa-twitter
						a.footer-social-icon(href="#")
							i.fab.fa-instagram
						a.footer-social-icon(href="#")
							i.fab.fa-pinterest
						a.footer-social-icon(href="#")
							i.fab.fa-google-plus
						a.footer-social-icon(href="#")
							i.fab.fa-dribbble
						a.footer-social-icon(href="#")
							i.fab.fa-tumblr
						a.footer-social-icon(href="#")
							i.fab.fa-youtube
				form.footer-form(action="javascript:void(0)")
					input(type="email" placeholder="Your Email").footer-form-input
					button.footer-form-button Subcribe
			.footer-column 
				h3.footer-heading Blogs
				a(href="@").footer-blog
					img.footer-blog-image(src= "https://images.unsplash.com/photo-1661956602868-6ae368943878?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
					.footer-blog-info
						h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						span.footer-blog-time.text.text--light Jan 9, 2016
				a(href="@").footer-blog
					img.footer-blog-image(src= "https://images.unsplash.com/photo-1677705528038-e482cebd7fff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80")
					.footer-blog-info
						h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
						span.footer-blog-time.text.text--light Jan 9, 2016
				a(href="@").footer-blog
					img.footer-blog-image(src= "https://images.unsplash.com/photo-1661956601031-4cf09efadfce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80")
					.footer-blog-info
						h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						span.footer-blog-time.text.text--light Jan 9, 2016
			.footer-column
				h3.footer-heading Instagram
				.footer-images
					.footer-image
						img(src="https://images.unsplash.com/photo-1676359729626-0603a717f490?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1175&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1676321097464-b5163b45258b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1676275063412-b5694d99f543?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1676275457529-ea016c26e6ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1677419734433-2420e3bf1093?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1627792089443-7350388a89aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1672243774955-6c22646333c2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1677247191292-4e1791c4ebef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1672243775941-10d763d9adef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
				a(href="$").footer-images-more.text.text--light View more photos
		.footer-bottom &copy; 2016 MoGo free PSD template by <span> laaqiq </span>
