section.people 
    .container 
        +blockBox("Have clients","what people say")
        ul.people-list 
            +peopleItem 
            +peopleItem("./images/img-people2.png","Nick Karvounis") 
            +peopleItem("./images/img-people3.png","Jaelynn Castillo") 
            li.people-item 
                img.people-avatar(src="./images/img-people4.png", alt="#")
                .people-info
                    h3.people-name Mike Petrucci
                    span.people-job.text.text--light Graphic Design
                    .people-desc.text.text--normal Lorem ipsum dolor sit amet consectetur adipisicing elit. Error libero quae eos omnis dolorem fugiat eveniet esse impedit fuga ea, provident animi tempora maxime ab. Expedita labore voluptatibus qui doloremque? 

