section.quote 
    .container
        .quote-container 
            //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
            +quoteItem()
            +quoteItem()
            .quote-item 
                .quote-icon 
                    img(src="../images/img-quote.png")
                .quote-info
                    p.quote-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, vitae fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, vitae fugit.
                    span.quote-author Joe Hart
            //- i.fal.fa-angle-right.quote-arrow-right.quote-arrow