section.service 
    .container
        +blockBox("We work with","Amazing service")
        .service-list 
            .service-item 
                img.service-icon(src="../images/img-service-icon1.png")
                .service-info 
                    h3.service-title Photography 
                    p.service-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            .service-item 
                img.service-icon(src="../images/img-service-icon2.png")
                .service-info 
                    h3.service-title web design
                    p.service-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            .service-item 
                img.service-icon(src="../images/img-service-icon3.png")
                .service-info 
                    h3.service-title Creativity
                    p.service-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        .service-list 
            .service-item 
                img.service-icon(src="../images/img-service-icon4.png")
                .service-info 
                    h3.service-title seo
                    p.service-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            .service-item 
                img.service-icon(src="../images/img-service-icon5.png")
                .service-info 
                    h3.service-title Html/css
                    p.service-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            +serviceItem("../images/img-service-icon6.png","digital","Lorem ipsum dolor sit, amet consectetur")