section.story 
    .container 
        +blockBox("Our story","Lastest blog ")
        ul.story-list 
            +storyItem() 
            +storyItem("./images/img-blog2.png") 
            li.story-item
                .story-media 
                    img.story-image(src="./images/img-blog3.png")
                    .story-date 
                        span.story-date-number.text.text--light 15 
                        span.story-date-text.text.text--light Jan
                .story-info 
                    .story-title 
                         h3.story-title-inner Lorem ipsum dolor sit amet
                    .story-desc.text.text-normal 
                        p.story-desc-inner Lorem ipsum dolor sit amet con adipisicing elit. Consequatur mollitia eveniet expedita corporis mollitia eveniet expedita corporis mollitia eveniet expedita corporis mollitia eveniet expedita corporis mollitia eveniet expedita corporis mollitia eveniet expedita corporis mollitia eveniet expedita corporis  
                .story-meta 
                    .story-meta-item
                        i.fa.fa-eye.story-meta-icon
                        span.story-meta-number.text.text--light 532 
                    .story-meta-item
                        i.fa.fa-comment.story-meta-icon
                        span.story-meta-number.text.text--light 31 

section.map 
    .container 
        .map-content
            img.map-icon(src="./images/img-map-icon.png")
            h2.map-heading Open map

