section.team 
    .container
        +blockBox("who we are","Meet our team","Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse consectetur placeat optio ullam ad nisi aliquam maxime dignissimos pariatur in error, inventore atque recusandae velit molestiae aperiam voluptatibus veritatis numquam!") 
        .team-list 
            +teamItem("../images/img-team1.png","matthew dix","Graphic Designer")
             +teamSocial("tuandat","$$$")
            +teamItem("../images/img-team2.png","chrstopher campbell","Branding/UX Designer")
             +teamSocial("tuandat","$$$")
            .team-item 
                .team-main 
                    img(src="../images/img-team3.png").team-images
                    .team-content 
                        ul.team-social 
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-facebook-f
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-twitter
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-pinterest
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-instagram              
                .team-info 
                    h3.team-name michael fertig
                    span.team-position Dev Oops
section.brand
    .container
        img(src="./images/img-logos.png" alt="brands")
            