section.wedo
    .container 
        +blockBox("Services","what we do","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae fuga quisquam, illo blanditiis amet et ratione ea dolor doloremque molestias ipsa id eaque repellendus voluptas consequuntur officiis repudiandae iste odit.")
        .wedo-container
            img(src="../images/img-wedo.png").wedo-image
            .wedo-content
                +wedoItem("../images/img-wedo-icon1.png","Photography","Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, et quis ex iste, est quam dolorem quo ipsum illum voluptatem corrupti maxime facere, consectetur repellendus perspiciatis tempora quasi aliquam expedita?Quidem, et quis ex iste, est quam dolorem quo ipsum illum voluptatem corrupti maxime facere, consectetur repellendus perspiciatis tempora quasi aliquam expedita?Quidem, et quis ex iste, est quam dolorem quo ipsum illum voluptatem corrupti maxime facere, consectetur repellendus perspiciatis tempora quasi aliquam expedita?        height:13rem;iste, est quam dolorem quo ipsum illum voluptatem corrupti maxime facere, consectetur repellendus perspiciatis tempora quasi aliquam expedita?        height:13rem;","is-active")
                .wedo-item 
                    .wedo-item-header 
                        img(src ="../images/img-wedo-icon2.png").wedo-item-icon
                        h3.wedo-item-title Creativity
                        i.fal.fa-angle-down.wedo-item-arrow
                    .wedo-item-content 
                        .wedo-item-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, et quis ex iste, est quam dolorem quo ipsum illum voluptatem corrupti maxime facere, consectetur repellendus perspiciatis tempora quasi aliquam expedita?Quidem, et quis ex iste, est quam dolorem quo ipsum illum voluptatem corrupti maxime facere, consectetur repellendus perspiciatis tempora quasi aliquam expedita?Quidem, et quis ex iste, est quam dolorem quo ipsum illum voluptatem corrupti maxime facere, consectetur repellendus perspiciatis tempora quasi aliquam expedita?        height:13rem;iste, est quam dolorem quo ipsum illum voluptatem corrupti maxime facere, consectetur repellendus perspiciatis tempora quasi aliquam expedita?        height:13rem;
                .wedo-item 
                    .wedo-item-header 
                        img(src ="../images/img-wedo-icon3.png").wedo-item-icon
                        h3.wedo-item-title Web design
                        i.fal.fa-angle-down.wedo-item-arrow
                    .wedo-item-content 
                        .wedo-item-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, et quis ex iste, est quam dolorem quo ipsum illum voluptatem corrupti maxime facere, consectetur repellendus perspiciatis tempora quasi aliquam expedita?Quidem, et quis ex iste, est quam dolorem quo ipsum illum voluptatem corrupti maxime facere, consectetur repellendus perspiciatis tempora quasi aliquam expedita?Quidem, et quis ex iste, est quam dolorem quo ipsum illum voluptatem corrupti maxime facere, consectetur repellendus perspiciatis tempora quasi aliquam expedita?        height:13rem;iste, est quam dolorem quo ipsum illum voluptatem corrupti maxime facere, consectetur repellendus perspiciatis tempora quasi aliquam expedita?        height:13rem;
        
           

