.team {
    --image-height: 47rem;
    background-color: white;
    padding: 10rem 0;
    &-list {
        @include flexbox(stretch, space-between);
    }
    &-item {
        width: calc(33.33% - 20px);
    }
    &-info {
        padding: 3rem 1.5rem;
        text-align: center;
        height: calc(100% - var(--image-height));
        @include flexbox(center, space-between, column)
    }
    &-name {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 1rem;
        line-height: 1.4;
        @include textClamp;
    }
    &-images {
        @include size(var(--image-height), 100%);
        object-fit: cover;
    }
    &-position {
        font-family: $secondary-font;
        font-style: italic;
        color: $text-color;
        font-size: 1.5rem;
        font-weight: 300;
    }
    &-social-item:not(:first-child) {
        border-left: 2px solid $primary-color;
    }
    &-social {
        @include flexbox(center, center, row)
    }
    &-social-link {
        display: inline-block;
        @include size(6rem);
        @include flexbox(center, center);
        font-size: 2rem;
        color: $primary-color;
        background: $secondary-color;
        transition: all 0.25s ease;
        &:hover {
            background: $primary-color;
            color: white;
        }
    }
    @media screen and (max-width:1023px) {
        padding: 5rem 0;
        &-list {
            @include touchSlider(55%);
        }
    }
    @media screen and (max-width:767px) {
        --image-height: 40rem;
        padding: 0;
        &-list {
            @include touchSlider(90%);
        }
    }
}
@include hoverEffect(".team-main", ".team-content");
.brand {
    padding: 8rem 0;
    background: $gray-color;
    @media screen and(max-width:767px) {
        padding: 3rem 0;
    }
}